<!-- Geo/Local SEO -->
<meta name="geo.region" content="US-NJ" />
<meta name="geo.placename" content="Galloway, New Jersey" />
<meta name="geo.position" content="39.4784;-74.4771" />
<meta name="ICBM" content="39.4784, -74.4771" />
