<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ContactPage",
    "@id": "{{ site.url }}/contact/#page",
    "url": "{{ site.url }}/contact/",
    "about": {
      "@type": "HomeAndConstructionBusiness",
      "name": "Tillerstead LLC",
      "telephone": "{{ site.company.phone_link }}",
      "areaServed": ["Atlantic County, New Jersey", "Ocean County, New Jersey", "Cape May County, New Jersey"],
      "license": "New Jersey HIC #13VH10808800"
    },
    "mainEntity": {
      "@type": "Action",
      "name": "Request a Written Estimate",
      "target": "{{ site.url }}/contact/",
      "result": {
        "@type": "Thing",
        "name": "Written Proposal"
      }
    }
  }
</script>
